footer{
    height: 70vh;
    background-image: url("../img/footer/img-ng-footer.jpg");
}
.endLogo{
    height: 50px;
    margin-top: 50px;
}

.end{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 70px 50px 20px 50px;

    h4{
        color: $gold-color-lighter;
        margin: 10px 10px 20px 0px;
    }
    li, p{
        color: $gold-color-lighter;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: $gold-color-lighter;
    }
}
.end__about{
   width: 90px;
}
.end__newsletters{
    width: 300px;
}
.end__contact{
    width: 300px;
}
.endImg{
    width:50px;
}