.gallery {
    font-family: 'Cormorant Garamond', serif;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 240px;
        position: absolute;
        text-transform: uppercase;
        top: 70px;
        left: 0;
        color: $gold-color;
        opacity: 10%;
        z-index: 10;
        
    }
    h2 {
        margin-top:150px;
        text-align: center;
        font-size: 50px;
        text-transform: uppercase;
        z-index: 30;
    }
    h3 {
    
        font-size: 25px;
        text-align: center;
        z-index: 200;
        margin-top: 20px;
        margin-bottom: 150px;
    }
    .gallery__img {

        .gallery__img__row {

            display: flex;
            flex-direction: row;
            gap: 33px;
            margin-bottom: 33px;

        .container {
            position: relative;
            cursor: pointer;

        img {
            height: 100%;
            
        }
        .layout {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            opacity: 0%;
            transition: 0.1s linear;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .layout__text {
                margin: 100px 20px 0 ;

                .title {
                    font-size: 40px;
                    margin-bottom: -10px;
                }
                
            }

            &:hover {
               opacity: 100%;
            }
        }

    }
}
        
    }

    }
    .gallery__btn {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
        font-size: 0.8em;;
        padding: 1.3em 2.5em;
        border: 1px solid rgba(0, 0, 0, 0.199);
        border-radius: 5px;
        margin: 100px 0;
        transition: 0.1s linear;

        i {
            padding-left: 10px;
        }

        &:hover {
            background-color: $gold-color;
            color: $white;
            border:1px solid $gold-color;
        }
    }
    @media screen and (max-width: 425px) {
        .gallery {
    
            h1 {
                display: none;
                
            }
        }
    }

    @media screen and (max-width:425px)                                   //media queries - mobile phone <425px                      
    { .gallery {
        .gallery__btn {
            margin: 20px 0;
        }
    
        h1 {
            font-size: 65px;
            margin-left: 10px; 
            margin-top: -55px;
        }
        h2 {
            font-size: 23px;
            margin-top: 50px;
            margin-right: 10px;
            margin-left: 10px;
        }
        h3 {
            font-size: 17px;
            margin: 20px 0px 20px 0px;
        }
        .gallery__img {
    
            .gallery__img__row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2px;
                margin-bottom: 0px;
    
            .container {
                position: relative;
                cursor: pointer;
    
            img {
                height: 200px;
                
            }
            .layout {
                display: none;
            }
    
        }
            }
        }
    }
    }