@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

header {
    background-image: linear-gradient(160deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../img/slider/img_bg_slider_home01.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
   
    .nav--menu {
        font-size: 20px;
        height: 120px;
        width: 95%;
        margin-left: 90px ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;

        img {
            width: 180px;
            margin-left: 2em;
            cursor: pointer;
        }
    
        ul {
            // margin-right: 12.5em;
            display: flex;
            justify-content: center;
            list-style: none;
    
            a {
                text-decoration: none;
                color: $white;
                padding: 25px;
                opacity: 50%;
                transition: 0.1s linear;

                &:hover {
                    opacity: 100%;
                }
            
            }
            i {
                font-size: 13px;
                margin-left: 5px;
                color: $white;
            }
        }
    
        .nav--menu__contact--informations {
            display: flex;
            align-items: center;
    
            p {
                color: $white;
            }
            a {
                font-size: 17px;
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
                background-color: $gold-color;
                padding: 20px 30px;
                margin-left: 40px;
                margin-right: 2em;
                text-decoration: none;
                border-radius: 5px;

                i {
                    color: $white;
                    font-size: 17px;
                    margin-left: 15px;
                }
            }
            i {
                color: $gold-color;
                margin-right: 8px;
            }
        }
    }
    .title {
        font-family: 'Cormorant Garamond', serif;
        text-transform: uppercase;
        font-size: 70px;
        color: $white;
        width: 500px;
        margin: 140px 0 80px 200px;
        line-height: 150px;

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: bold;    
            margin-left: 30px;
            border-radius: 5px;
            text-transform: uppercase;
            text-decoration: none;    
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid rgba(128, 128, 128, 0.301);
            padding: 20px 35px;
            color: white;
            cursor: pointer;
            transition: 0.1s linear;

            &:hover {
                background-color: $white;
                color: $black;
            }

            i {
                margin-left: 15px;
            }
        }
    }
    .player {
        width: 135px;
        height: 135px;
        position: absolute;
        background-color: $white;
        font-size: 30px;
        text-align: center;
        border-radius: 50%;
        right: 275px;
        bottom: 305px;
        cursor: pointer;

        i {
            font-size: 35px;
            line-height: 130px;
            color: $gold-color;
        }


        &::after {
            content: '';
            border: 1px solid rgba(255, 255, 255, 0.178);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
            right: -33px;
            bottom: -33px;
        }
    }
}
@media screen and (max-width:425px) {
    .player {
        display: none;
    }
}



