@media screen and (max-width: 1750px) {
    .our--menu__right--img {
        display: none;
    }
    .our--menu__left--img {
        display: none;
    }
}
@media screen and (max-width: 1600px) {
    h1 {
        font-size: 1em;
    }
}
