@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(160deg, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url("../img/slider/img_bg_slider_home01.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
header .nav--menu {
  font-size: 20px;
  height: 120px;
  width: 95%;
  margin-left: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav--menu img {
  width: 180px;
}
header .nav--menu ul {
  margin-right: 200px;
  display: flex;
  justify-content: center;
  list-style: none;
}
header .nav--menu ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 25px;
}
header .nav--menu ul i {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
}
header .nav--menu .nav--menu__contact--informations {
  display: flex;
  align-items: center;
}
header .nav--menu .nav--menu__contact--informations p {
  color: rgb(255, 255, 255);
}
header .nav--menu .nav--menu__contact--informations a {
  font-size: 17px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  background-color: #C8A969;
  padding: 20px 30px;
  margin-left: 40px;
  margin-right: 90px;
  text-decoration: none;
  border-radius: 5px;
}
header .nav--menu .nav--menu__contact--informations a i {
  color: rgb(255, 255, 255);
  font-size: 17px;
  margin-left: 15px;
}
header .nav--menu .nav--menu__contact--informations i {
  color: #C8A969;
  margin-right: 8px;
}
header .title {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  font-size: 70px;
  color: rgb(255, 255, 255);
  width: 500px;
  margin: 140px 0 80px 200px;
  line-height: 150px;
}
header .title button {
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(128, 128, 128, 0.301);
  padding: 20px 35px;
  color: white;
}
header .title button i {
  margin-left: 15px;
}
header .player {
  width: 135px;
  height: 135px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  right: 275px;
  bottom: 305px;
}
header .player i {
  font-size: 35px;
  line-height: 130px;
}
header .player::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.178);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  right: -33px;
  bottom: -33px;
}

.category {
  font-family: "Cormorant Garamond", serif;
  height: 100vh;
  background-image: linear-gradient(rgba(200, 168, 105, 0.1176470588), rgba(200, 168, 105, 0.1176470588)), url("../img/banner/imgbgcategory.jpg");
  background-size: 115%;
  background-position: 44% 40%;
  background-color: #FAF6F0;
  position: relative;
  display: flex;
  z-index: -50;
  flex-direction: column;
  justify-content: center;
}
.category h1 {
  font-size: 240px;
  position: absolute;
  text-transform: uppercase;
  top: 70px;
  color: #C8A969;
  opacity: 10%;
  z-index: 10;
}
.category h2 {
  margin-top: -200px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 30;
}
.category h3 {
  font-size: 25px;
  text-align: center;
  z-index: 200;
  margin-top: 20px;
}
.category .card {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  z-index: 15;
}
.category .card div[class*=card] {
  width: 215px;
  padding: 50px 0;
  background-color: rgb(255, 255, 255);
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category .card div[class*=card] p {
  font-size: 23px;
  margin: 20px 0;
}
.category .card div[class*=card] i {
  font-size: 50px;
  color: #C8A969;
}
.category .card div[class*=card] i[class*=arrow] {
  font-size: 22px;
  color: black;
}

footer {
  height: 100%;
  background-image: url("../img/footer/img-ng-footer.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endLogo {
  height: 90px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.end {
  width: 1450px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 40px;
}
.end h4 {
  font-family: "Cormorant Garamond", serif;
  color: #FAF6F0;
  margin: 10px 10px 20px 0px;
  font-size: 40px;
  font-weight: 300;
}
.end li {
  font-family: sans-serif;
  color: #9a9ca5;
  font-size: large;
  font-weight: lighter;
  list-style: none;
}
.end a {
  font-family: sans-serif;
  color: #9a9ca5;
  font-size: large;
  font-weight: lighter;
  text-decoration: none;
}

.end__about {
  width: 100px;
}

.end__newsletters {
  width: 400px;
}
.end__newsletters p {
  font-family: sans-serif;
  font-size: large;
  font-weight: lighter;
  color: #9a9ca5;
  line-height: 30px;
}

.end__newsletters__mail {
  width: 360px;
  height: 60px;
  margin-top: 40px;
}
.end__newsletters__mail input {
  width: 280px;
  height: 60px;
  background-color: #FAF6F0;
  border: none;
  font-family: sans-serif;
  font-size: large;
  font-weight: lighter;
  color: #9a9ca5;
  padding-left: 20px;
}
.end__newsletters__mail button {
  width: 60px;
  height: 60px;
  background-color: #C8A969;
  background-image: url(../img/footer/fleche-droite.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  border: none;
  margin-left: -5px;
  padding-top: 12px;
}

.end__contact {
  width: 350px;
}

.end__contact__address, .end__contact__mail, .end__contact__phone, .end__contact__time {
  display: flex;
  flex-direction: row;
}
.end__contact__address img, .end__contact__mail img, .end__contact__phone img, .end__contact__time img {
  height: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.endImg {
  width: 90px;
  margin-left: 10px;
}

.endFooter {
  width: 1450px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 90px;
}
.endFooter hr {
  width: 1410px;
  border: 1px solid #222627;
  position: absolute;
  top: 35px;
}
.endFooter .copyright {
  width: 850px;
  position: relative;
  display: flex;
  align-items: end;
}
.endFooter p {
  font-family: sans-serif;
  color: #9a9ca5;
  font-size: large;
  font-weight: lighter;
  width: fit-content;
  padding-bottom: 15px;
}
.endFooter a {
  text-decoration: none;
  color: #C8A969;
}

.networks {
  display: flex;
  align-items: end;
  margin-right: 35px;
}
.networks img {
  width: 35px;
  margin-right: 10px;
}

.our--blog {
  height: 100%;
  font-family: "Cormorant Garamond", serif;
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: -50;
}
.our--blog h2, .our--blog h3, .our--blog p, .our--blog a {
  color: rgb(0, 0, 0);
}
.our--blog h1 {
  font-size: 240px;
  position: absolute;
  text-transform: uppercase;
  top: -90px;
  color: #C8A969;
  opacity: 10%;
  z-index: 10;
}
.our--blog h2 {
  margin-top: 150px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 30;
}
.our--blog h3 {
  font-size: 25px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  z-index: 200;
  margin-top: 20px;
  margin-bottom: 150px;
}

.our--blog__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 230px 100px 230px;
}
.our--blog__content .our--blog__content__article {
  background-color: #FAF6F0;
  width: 460px;
  display: flex;
  flex-direction: column;
}
.our--blog__content img {
  width: 460px;
}
.our--blog__content .our--blog__content__article__informations {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 30px;
  margin-left: 30px;
}
.our--blog__content .our--blog__content__article__informations img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.our--blog__content .our--blog__content__article__informations p {
  margin-right: 20px;
  font-family: sans-serif;
  font-size: medium;
  font-weight: lighter;
  color: #9a9ca5;
  text-transform: uppercase;
}
.our--blog__content a {
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin: 30px 0px 30px 30px;
  width: 160px;
  height: 30px;
  text-align: center;
  padding: 25px 15px 15px 15px;
  text-decoration: none;
}
.our--blog__content i {
  margin-left: 15px;
}

.our--blog__content__article > p {
  font-family: "Cormorant Garamond", serif;
  font-size: 28px;
  font-weight: light;
  color: #222627;
  margin: 20px 20px 20px 30px;
}

.our--blog__icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 60px 210px 120px 210px;
}
.our--blog__icon img {
  height: 90px;
}

.our--chef {
  height: 100%;
  font-family: "Cormorant Garamond", serif;
  background-image: url(/img/our-chefs/imgbg-ourchefs.jpg);
  background-size: cover;
  position: relative;
  z-index: -50;
}
.our--chef h1 {
  font-size: 240px;
  position: absolute;
  text-transform: uppercase;
  top: 70px;
  color: #222627;
  opacity: 10%;
  z-index: 10;
}
.our--chef h2 {
  font-size: 50px;
  padding-top: 150px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  text-transform: uppercase;
  z-index: 30;
  color: rgb(255, 255, 255);
}
.our--chef h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
  text-align: center;
  z-index: 200;
  color: rgb(255, 255, 255);
}

.our--chef__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 150px 230px 0px 230px;
}
.our--chef__img img {
  width: 340px;
  margin-bottom: 250px;
}

.about {
  font-family: "Cormorant Garamond", serif;
  position: relative;
}
.about .about__img {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: -30px;
  margin-right: 50px;
  z-index: 200;
}
.about .about__img img {
  border-radius: 50%;
  margin: 0 10px;
  width: 350px;
}
.about .about__img img:nth-child(2) {
  margin-top: -200px;
  width: 750px;
  border: 50px solid white;
}
.about .about__img img:nth-child(3) {
  width: 480px;
  margin-top: -50px;
}
.about h1 {
  font-size: 240px;
  position: absolute;
  text-transform: uppercase;
  top: 700px;
  color: #C8A969;
  opacity: 10%;
  z-index: 10;
}
.about h2 {
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 30;
}
.about h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  z-index: 200;
  margin-top: 20px;
}
.about .about__content {
  margin: 100px 300px 100px 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about__content img {
  height: 600px;
}
.about .about__content .about__content--text {
  margin: 100px;
}
.about .about__content .about__content--text p {
  line-height: 50px;
  font-size: 30px;
  word-spacing: 10px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.about .about__content .about__content--text button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: #C8A969;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
}
.about .about__content .about__content--text i {
  margin-left: 10px;
}

.our--menu {
  font-family: "Cormorant Garamond", serif;
  height: 100%;
  background-color: #FAF6F0;
  position: relative;
  display: flex;
  z-index: -50;
  flex-direction: column;
  justify-content: center;
}
.our--menu h1 {
  font-size: 240px;
  position: absolute;
  text-transform: uppercase;
  top: 70px;
  color: #C8A969;
  opacity: 10%;
  z-index: 10;
}
.our--menu h2 {
  margin-top: 150px;
  margin-right: 200px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 30;
}
.our--menu h3 {
  font-size: 25px;
  margin-right: 200px;
  text-align: center;
  z-index: 200;
  margin-top: 20px;
  margin-bottom: 150px;
}
.our--menu .our--menu__right--img {
  position: absolute;
  height: 100%;
  right: 0;
  z-index: -5;
}
.our--menu .our--menu__left--img {
  position: absolute;
  left: 0;
  bottom: -270px;
  width: 260px;
  z-index: -5;
}
.our--menu .our--menu__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.our--menu .our--menu__content .our--menu__content__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.our--menu .our--menu__content .our--menu__content__column .our--menu__content--item {
  width: 700px;
  height: 130px;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our--menu .our--menu__content .our--menu__content__column .our--menu__content--item__text {
  margin-left: 40px;
}
.our--menu .our--menu__content .our--menu__content__column .our--menu__content--item__text h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.our--menu .our--menu__content .our--menu__content__column .our--menu__content--item__text p {
  font-size: 20px;
}
.our--menu .our--menu__content .our--menu__content__column .our--menu__content--item__price p {
  font-size: 70px;
  color: #C8A969;
  margin-right: 40px;
}

.gallery {
  font-family: "Cormorant Garamond", serif;
  height: 100%;
  position: relative;
  display: flex;
  z-index: -50;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery h1 {
  font-size: 240px;
  position: absolute;
  text-transform: uppercase;
  top: 70px;
  left: 0;
  color: #C8A969;
  opacity: 10%;
  z-index: 10;
}
.gallery h2 {
  margin-top: 150px;
  margin-right: 200px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 30;
}
.gallery h3 {
  font-size: 25px;
  margin-right: 200px;
  text-align: center;
  z-index: 200;
  margin-top: 20px;
  margin-bottom: 150px;
}
.gallery .gallery__img {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.gallery .gallery__img .one {
  grid-column: 1/2;
  grid-row: 1;
}
.gallery .gallery__img .two {
  grid-column: 3;
  grid-row: 1;
}
.gallery .gallery__img .three {
  grid-column: 4;
  grid-row: 1;
}
.gallery .gallery__img .four {
  grid-column: 1;
  grid-row: 2;
}
.gallery .gallery__img .five {
  grid-column: 2;
  grid-row: 2;
}
.gallery .gallery__img .six {
  grid-column: 3/4;
  grid-row: 2;
}

footer {
  height: 100%;
  background-image: url("../img/footer/img-ng-footer.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endLogo {
  height: 90px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.end {
  width: 1450px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 40px;
}
.end h4 {
  font-family: "Cormorant Garamond", serif;
  color: #FAF6F0;
  margin: 10px 10px 20px 0px;
  font-size: 40px;
  font-weight: 300;
}
.end li {
  font-family: sans-serif;
  color: #9a9ca5;
  font-size: large;
  font-weight: lighter;
  list-style: none;
}
.end a {
  font-family: sans-serif;
  color: #9a9ca5;
  font-size: large;
  font-weight: lighter;
  text-decoration: none;
}

.end__about {
  width: 100px;
}

.end__newsletters {
  width: 400px;
}
.end__newsletters p {
  font-family: sans-serif;
  font-size: large;
  font-weight: lighter;
  color: #9a9ca5;
  line-height: 30px;
}

.end__newsletters__mail {
  width: 360px;
  height: 60px;
  margin-top: 40px;
}
.end__newsletters__mail input {
  width: 280px;
  height: 60px;
  background-color: #FAF6F0;
  border: none;
  font-family: sans-serif;
  font-size: large;
  font-weight: lighter;
  color: #9a9ca5;
  padding-left: 20px;
}
.end__newsletters__mail button {
  width: 60px;
  height: 60px;
  background-color: #C8A969;
  background-image: url(../img/footer/fleche-droite.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  border: none;
  margin-left: -5px;
  padding-top: 12px;
}

.end__contact {
  width: 350px;
}

.end__contact__address, .end__contact__mail, .end__contact__phone, .end__contact__time {
  display: flex;
  flex-direction: row;
}
.end__contact__address img, .end__contact__mail img, .end__contact__phone img, .end__contact__time img {
  height: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.endImg {
  width: 90px;
  margin-left: 10px;
}

.endFooter {
  width: 1450px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 90px;
}
.endFooter hr {
  width: 1410px;
  border: 1px solid #222627;
  position: absolute;
  top: 35px;
}
.endFooter .copyright {
  width: 850px;
  position: relative;
  display: flex;
  align-items: end;
}
.endFooter p {
  font-family: sans-serif;
  color: #9a9ca5;
  font-size: large;
  font-weight: lighter;
  width: fit-content;
  padding-bottom: 15px;
}
.endFooter a {
  text-decoration: none;
  color: #C8A969;
}

.networks {
  display: flex;
  align-items: end;
  margin-right: 35px;
}
.networks img {
  width: 35px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
