
@import './_variables';
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

@import './_header.scss';
@import './_category';
@import './blog';
@import './chefs';
@import './about';
@import './our\ menu';
@import './gallery';
@import './chefs';
@import './blog';
@import './_footer.scss';
